<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.co.workingedge.iwalk.cornwall" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloCordova</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Google maps -->
    <preference name="GOOGLE_MAPS_ANDROID_API_KEY" value="" />
    <preference name="GOOGLE_MAPS_IOS_API_KEY" value="" />

    <platform name="android">
        <preference name="android-targetSdkVersion" value="33" />
        <preference name="android-minSdkVersion" value="26" />
    </platform>
</widget>
